html {

 background-color:#EDF2C5;

}

.container{
  max-width: 940px;
  max-height: 1260px;
  margin-left: auto;
  margin-right: auto;
}
header h1{
margin-top: 50px;
margin-bottom: 10px;
font-weight:normal;
font-size: 270%;
  color:#889C5B;
  font-family: Arial Black;
  display: inline;
}
/*header style*/
/*右上角*/
.top-right{
float:right;
}
.site-nav2 {
  margin-left: 8px;
  margin-bottom: 17px;
float:right;
}

.site-nav2 ul {
	margin-left: 2px;
	padding: 0px;
  border-left: 1px solid #778A50;
}

.site-nav2 li {
	list-style: none;
	float: right;
  display:block;
  padding: 5px 9px;
  font-family: Arial Black;
  font-size: 12px;
  color:#778A50;
  border: 1px solid  #75874F;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 8px;
}

.social-picture{
margin-right: 0px;
margin-top: 20px;
float:right;
}
.social-picture img{

  margin-left: 8px;
}
/*右上角*/

/*導覽列*/
.header-area {

  margin-bottom: 20px;
  background-color: #889C5B;
  border-radius: 5px;
}

.header-area ul {
	margin: 0;
	padding: 0;
}

.header-area li {
	list-style: none;
	float: left;
  display:block;
  padding: 16px 30px;
  font-family: Arial Black;
  color:#EDF2CE;

}
.clear:after{
  content:"";
  display: block;
  clear: both;
}
/*導覽列*/

.main-area {
  width: 444px;
  height:44px;
  margin-top: 32px;
  margin-bottom: 17px;
  background-color: #889C5B;
  border-radius: 5px;
  	float: left;
}
.main-area header{

  display:block;
  padding: 11px 31px;
  font-family: Arial Black;
  color:#EDF2C5;

}
.side-bar{
  float:right;
  width: 444px;

}
.side-bar h3{
  height:44px;
  box-sizing: border-box;
  width: 444px;
  margin-top: 32px;
  margin-bottom: 17px;
  background-color: #889C5B;
  border-radius: 5px;
  float: left;
  display:block;
  padding: 8px 31px;
  font-family: Arial Black;
  color:#EDF2C5;
}
.side-bar p{
font-family: Arial Black;
  color:#898989;
  font-size: 12px;
  margin-top: 0px;
}
.side-text{
 display:block;
 width:444px;
 height: 140px;
  background-color: #F5F8B9;
  box-sizing: border-box;;
  padding:15px;
padding-top: -3px;
}

.bot-picture img{
margin-right: 8px;
}
.clear:after{
  content:"";
  display: block;
  clear: both;
}
footer{

max-height: 60px;
margin-left: auto;
margin-right: auto;
background-color: #889C5B;
font-size: 12px;
font-family: Arial Black;
text-align: center;
color:#EDF2C5;
padding-top: 24px;
padding-bottom: 24px;
margin-top: 34px;

}
